.flow-control-box {
    position: absolute;
    top: 0px;
    left: 0px;
}

.flow-control-rect {
    position: absolute;
    top: 0px;
    left: 0px;
    pointer-events: none;
    user-select: none;
    background-color: rgba(0,0,255,0.2);
    border: 1px solid rgba(0,0,255,0.5);
}

.flow-highlight-item {
    position: absolute;
    background-color: transparent;
    border: 2px solid rgb(14, 142, 18);
    pointer-events: none;
    user-select: none;
}