.engaging-flow-box {
    overflow: hidden;
    border: 1px solid gray;
    box-sizing: border-box;
}

.engaging-editor {
    position: absolute;
    width: 100%;
    height: 100%;

    top: 0px;
    left: 0px;
    overflow: visible;
}

.engaging-grid {
    position: absolute;

    background-image: 
        linear-gradient(rgb(235, 235, 235) 0.7px, transparent 0.7px), 
        linear-gradient(90deg, rgb(235, 235, 235) 0.7px, transparent 0.7px);
    transform-origin: top left;
}

.engaging-flow {
    position: absolute;
    margin: 0;
    overflow: visible;

    width: 0px;
    height: 0px;
    transform-origin: top left;
}

.flow-node {
    position: absolute;
    width: fit-content;
    background-color: white;
    user-select: none;
    line-height: 0px;
}

.flow-node div {
    box-sizing: border-box;
}

.node-content {
    border: 2px solid gray;
}

.item-panel {
    position: absolute;
    border: 1px solid gray;
}

.engaging-flow>.flow-container {
    position: absolute;
    overflow: visible;
    width: 120px;
    height: 120px;
    /* background-color: blueviolet; */
}

.node-pointer {
    position: absolute;
    top: 50%;
}

.node-inputs {
    left: 2px;
    transform: translate(-50%, -50%);
}

.node-outputs {
    right: -2px;
    transform: translate(50%, -50%);
}

.node-pointer svg {
    stroke: gray;
    fill: white;
}

.node-inside-svg {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

.node-inside-svg>svg {
    width: 100%;
    height: 100%;
}

.node-connects path,
.node-inside-svg>svg>path {
    fill: none;
    stroke-width: 1.5px;
}

.node-inside-svg>svg>polygon {
    fill: gray;
}

.flow-container:not(.node-dragging) .node-output:hover svg,
.flow-container:not(.node-dragging) .node-input:hover svg {
    stroke: red;
    cursor: pointer;
}

.node-connects {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100px;
    height: 100px;
    line-height: 0px;
    overflow: visible;
}

