:root {
    --node-border: 2px;
}

.engaging-flow-box {
    overflow: hidden;
    border: 1px solid gray;
    box-sizing: border-box;
}

.engaging-editor {
    position: absolute;
    width: 100%;
    height: 100%;

    top: 0px;
    left: 0px;
    overflow: visible;
    outline: none;
}

.engaging-grid {
    position: absolute;

    background-image: 
        linear-gradient(rgb(235, 235, 235) 0.7px, transparent 0.7px), 
        linear-gradient(90deg, rgb(235, 235, 235) 0.7px, transparent 0.7px);
    transform-origin: top left;
    pointer-events: none;
}

.engaging-flow {
    position: absolute;
    margin: 0;
    overflow: visible;

    width: 0px;
    height: 0px;
    transform-origin: top left;
}

.flow-node {
    border: var(--node-border) solid gray;
    position: absolute;
    width: fit-content;
    background-color: white;
    user-select: none;
    line-height: 0px;
    box-sizing: border-box;
}

.flow-node div {
    box-sizing: border-box;
}

.node-content {
    position: absolute;
    overflow: hidden;    
}

.node-item {
    position: absolute;
    border: 1px solid gray;
}

.engaging-flow>.flow-container {
    position: absolute;
    overflow: visible;
    width: 2px;
    height: 2px;
    background-color: red;
}

.node-pointer {
    position: absolute;
    top: 50%;
}

.node-inputs {
    left: 2px;
    transform: translate(-50%, -50%);
}

.node-outputs {
    right: -2px;
    transform: translate(50%, -50%);
}

.node-pointer svg {
    stroke: gray;
    fill: white;
}

.node-inside-svg {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.node-inside-svg>svg {
    width: 100%;
    height: 100%;
}

.node-connects path,
.node-inside-svg>svg>path {
    fill: none;
    stroke-width: 1.5px;
    pointer-events: none;
}

.node-inside-svg>svg>polygon {
    fill: gray;
}

.flow-container:not(.node-dragging):not(.pointer-dragging) .node-output:hover svg,
.flow-container:not(.node-dragging) .node-input:hover svg {
    stroke: red;
    cursor: pointer;
}

.node-connects {
    position: absolute;
    top: var(--node-border);
    left: var(--node-border);
    width: 100px;
    height: 100px;
    line-height: 0px;
    overflow: visible;
    pointer-events: none;
}

/**********************************************************************
// flow scroll bar
**********************************************************************/
.flow-scroll-track {
    position: absolute;
    background-color: rgba(128, 128, 128, 0.1);
    border-radius: 5px;
}

.flow-scroll-track>.flow-scroll-bar {
    position: absolute;
    border-radius: 5px;
    background-color: rgba(128, 128, 128, 0.3);
}

.flow-scroll-track.horizontal {
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 8px;
}

.flow-scroll-track.vertical {
    top: 0px;
    right: 0px;
    width: 8px;
    height: 100%;
}