body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

#root {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;  
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.engaging-flow-box {
    overflow: hidden;
    border: 1px solid gray;
    box-sizing: border-box;
}

.engaging-editor {
    position: absolute;
    width: 100%;
    height: 100%;

    top: 0px;
    left: 0px;
    overflow: visible;
    outline: none;
}

.engaging-grid {
    position: absolute;

    background-image: 
        linear-gradient(rgb(235, 235, 235) 0.7px, transparent 0.7px), 
        linear-gradient(90deg, rgb(235, 235, 235) 0.7px, transparent 0.7px);
    transform-origin: top left;
    pointer-events: none;
}

.engaging-flow {
    position: absolute;
    margin: 0;
    overflow: visible;

    width: 0px;
    height: 0px;
    transform-origin: top left;
}

.flow-node {
    position: absolute;
    width: fit-content;
    background-color: white;
    user-select: none;
    line-height: 0px;
}

.flow-node div {
    box-sizing: border-box;
}

.node-content {
    border: 2px solid gray;
}

.item-panel {
    position: absolute;
    border: 1px solid gray;
}

.engaging-flow>.flow-container {
    position: absolute;
    overflow: visible;
    width: 1px;
    height: 1px;
    background-color: blueviolet;
}

.node-pointer {
    position: absolute;
    top: 50%;
}

.node-inputs {
    left: 2px;
    transform: translate(-50%, -50%);
}

.node-outputs {
    right: -2px;
    transform: translate(50%, -50%);
}

.node-pointer svg {
    stroke: gray;
    fill: white;
}

.node-inside-svg {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

.node-inside-svg>svg {
    width: 100%;
    height: 100%;
}

.node-connects path,
.node-inside-svg>svg>path {
    fill: none;
    stroke-width: 1.5px;
    opacity: 0.3;
}

.node-inside-svg>svg>polygon {
    fill: gray;
}

.flow-container:not(.node-dragging) .node-output:hover svg,
.flow-container:not(.node-dragging) .node-input:hover svg {
    stroke: red;
    cursor: pointer;
}

.node-connects {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100px;
    height: 100px;
    line-height: 0px;
    overflow: visible;
}

/**********************************************************************
// flow scroll bar
**********************************************************************/
.flow-scroll-track {
    position: absolute;
    background-color: rgba(128, 128, 128, 0.1);
    border-radius: 5px;
}

.flow-scroll-track>.flow-scroll-bar {
    position: absolute;
    border-radius: 5px;
    background-color: rgba(128, 128, 128, 0.3);
}

.flow-scroll-track.horizontal {
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 8px;
}

.flow-scroll-track.vertical {
    top: 0px;
    right: 0px;
    width: 8px;
    height: 100%;
}